.deeteeo.eyes {
  position: relative;
  width: 2em;
  height: 1em;
}
.deeteeo.eye {
  width: 9px;
  height: 9px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: .5em;
  transition: transform 0.075s;
}
.deeteeo.eye.left {
  left: 0;
}
.deeteeo.eye.right {
  right: 0;
}
.blink {
  transform: scaleY(0.2);
}
